/* src/app.less */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family:
    "Segoe UI",
    "San Francisco",
    "Helvetica Neue",
    sans-serif;
  font-size: 18px;
  color: #303030;
}
main {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
}
main header {
  border-bottom: 1pt solid #e0e0e0;
  height: 90px;
}
main header button {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  border: 1.5px solid #707375;
  color: #707375;
  font-size: 14px;
  font-weight: bold;
}
main header #showInfo {
  right: 15px;
  top: 15px;
}
main header #showStatus {
  display: none;
  left: 15px;
  top: 15px;
}
main header #showStatus.visible {
  display: block;
}
main header #showStatus svg {
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 3px 0 0 -2px;
}
main header #showStatus svg path {
  fill: #707375;
}
main h1,
main h2 {
  font-family: inherit;
  margin: 0;
  text-align: center;
  font-weight: bold;
}
main h1 {
  font-size: 36px;
  text-transform: uppercase;
}
main h2 {
  font-size: 27px;
  margin-top: -5px;
}
main > section {
  width: 100%;
}
#grid {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  visibility: hidden;
}
#grid .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: stretch;
  height: 16.6%;
  max-height: 54px;
  padding: 4px;
}
#grid .tile {
  height: 100%;
  border: 1pt solid #c0c0c0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-top: 3px;
  margin: 4px;
  font-size: 1px;
  overflow: hidden;
}
#grid .tile span {
  display: block;
  height: 0;
  overflow: visible;
}
#grid .tile.filled {
  border-color: #707375;
}
#grid .tile.miss,
#grid .tile.hit,
#grid .tile.near {
  transition: background-color 800ms ease-out;
}
#grid .tile.miss {
  background-color: #707375;
  border-color: #707375;
  color: white;
}
#grid .tile.hit {
  background-color: #679e72;
  border-color: #679e72;
  color: white;
}
#grid .tile.near {
  background-color: #c25661;
  border-color: #c25661;
  color: white;
}
#spacer {
  height: 5px;
  flex: 0 0;
}
#keyboard {
  font-size: 18px;
  flex: 0 0;
}
#keyboard .row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
}
#keyboard .spacer {
  font-size: 0.1px;
  flex-grow: 1;
}
#keyboard .key {
  flex-grow: 0;
  padding: 0.5em 0.3em;
  border-radius: 4px;
  margin: 0 4px 8px 4px;
  width: 8vw;
  max-width: 2em;
  cursor: default;
  user-select: none;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #e0e0e0;
  transition: background-color 300ms ease-out;
}
#keyboard .key.enter,
#keyboard .key.back {
  width: 12vw;
  max-width: 4em;
}
#keyboard .key.enter {
  font-size: 0.7em;
  padding-top: 1.1em;
}
#keyboard .key:hover {
  background-color: #ededed;
}
#keyboard .key.miss {
  background-color: #707375;
  color: white;
}
#keyboard .key.miss:hover {
  background-color: #97999b;
}
#keyboard .key.hit {
  background-color: #679e72;
  color: white;
}
#keyboard .key.hit:hover {
  background-color: #96bc9d;
}
#keyboard .key.near {
  background-color: #c25661;
  color: white;
}
#keyboard .key.near:hover {
  background-color: #d2838b;
}
#keyboard .key.pressed,
#keyboard .key.pressed:hover {
  background-color: #57595b;
  transition: none;
}
@media (hover: none) and (pointer: coarse) {
  #keyboard .key:hover {
    background-color: #e0e0e0;
  }
  #keyboard .key.miss:hover {
    background-color: #707375;
  }
  #keyboard .key.hit:hover {
    background-color: #679e72;
  }
  #keyboard .key.near:hover {
    background-color: #c25661;
  }
}
@media screen and (max-width: 450px) {
  main header {
    height: 57px;
    padding-top: 3px;
  }
  main header h1 {
    font-size: 23.4px;
  }
  main header h2 {
    font-size: 16.2px;
    margin-top: 0;
  }
  #keyboard .key {
    margin: 1.5px;
    padding: 0.7em 0.5em;
    font-size: calc(10px + 2vw);
    width: 9vw;
  }
  #keyboard .key.enter {
    width: 5em;
    max-width: none;
    font-size: calc(4px + 2vw);
  }
  #keyboard .key.enter {
    padding-top: 1.5em;
  }
}
aside {
  z-index: 3;
  position: absolute;
  top: 130px;
  left: 50%;
  margin-left: -40%;
  width: 80%;
  background-color: #303030;
  color: white;
  text-align: center;
  white-space: pre-wrap;
  padding: 10px 10px;
  border-radius: 8px;
  display: none;
}
aside.visible {
  display: block;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  font-family: sans-serif;
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
}
article {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-y: auto;
  padding: 30px 20px 30px 20px;
}
article.visible {
  display: block;
}
article > section {
  display: none;
  max-width: 470px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px #c7c7c7;
  border-radius: 5px;
  position: relative;
  background-color: white;
  padding: 10px 15px;
  font-size: 14.4px;
}
article > section.visible {
  display: block;
}
article > section button.close {
  display: block;
  position: absolute;
  right: 16px;
  top: 8px;
  cursor: pointer;
  color: #707375;
  font-weight: bold;
  font-size: 18px;
}
article > section h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
article > section span.letter {
  display: inline-block;
  margin-right: 4px;
  padding-top: 3px;
  border: 1pt solid #707375;
  width: 28px;
  height: 28px;
  text-align: center;
  font-weight: bold;
}
article > section span.letter.miss {
  background-color: #707375;
  color: white;
}
article > section span.letter.hit {
  background-color: #679e72;
  color: white;
}
article > section span.letter.near {
  background-color: #c25661;
  color: white;
}
article > section span.right {
  display: inline-block;
  float: right;
}
#statusPopup #timeLeft {
  font-size: 36px;
}
#statusPopup #shareGeneral {
  position: relative;
  padding: 10px 0 13px 0;
  width: 250px;
  border-radius: 4px;
  background-color: #679e72;
  color: white;
  text-align: center;
  cursor: default;
  user-select: none;
  font-size: 22px;
  text-transform: uppercase;
}
#statusPopup #shareGeneral:hover {
  background-color: #86b28f;
}
#statusPopup #shareGeneral svg {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
}
#statusPopup #shareGeneral svg path {
  fill: white;
}
#statusPopup #shareGeneral #sharePreview {
  width: 35px;
  height: 100%;
  position: absolute;
  left: 12px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#statusPopup #shareGeneral #sharePreview span {
  display: block;
  font-size: 4px;
  white-space: pre-wrap;
  line-height: 1.5;
  border: 1px solid white;
  padding: 1px;
}
/*# sourceMappingURL=app.css.map */
