@import "colors.less";

// Favicon: https://imgbin.com/png/L7gMHybj/alarm-clock-icon-png

@fntBaseSize: 18px;
@fntBaseFamily: "Segoe UI", "San Francisco", "Helvetica Neue", sans-serif;

html, html.light { .light-color-vars; }
html.dark { .dark-color-vars; }
html.contrast, html.contrast.light { .contrast-color-vars; }
html.contrast.dark { .contrast-dark-color-vars; }

@media (prefers-color-scheme: dark) {
  html { .dark-color-vars; }
  html.contrast { .contrast-dark-color-vars; }
}

*, *:before, *:after { box-sizing: border-box; }
html, body { height: 100%; overflow: hidden; }
body {
  margin: 0; display: flex; justify-content: center;
  font-family: @fntBaseFamily;
  font-size: @fntBaseSize; color: var(--textColor);
  background-color: var(--bgColor);
}

html.dark a { color: @clrBlue; }

main {
  position: relative; width: 100%; max-width: 500px;
  display: flex; flex-direction: column; justify-content: flex-start; align-content: stretch;

  header {
    border-bottom: 1pt solid var(--frameLight); height: 90px; overflow-y: hidden;
    button {
      display: block; position: absolute; cursor: pointer;
      width: 24px; height: 24px; text-align: center;
      svg { display: inline-block; }
      svg path { fill: var(--frameStrong); }
    }
    button.circled {
      border: 1.5px solid var(--frameStrong); color: var(--frameStrong); border-radius: 12px;
      font-size: 14px; font-weight: bold;
      svg { width: 13px; height: 13px; margin: 3px 0 0 -2px; }
    }
    #showInfo { right: 15px; top: 15px; }
    #showStatus {
      display: none; &.visible { display: block; }
      left: 15px; top: 15px;
    }
    #showSettings {
      right: 48px; top: 15px;
    }
  }
  h1, h2 { font-family: inherit; margin: 0; text-align: center; font-weight: bold; }
  h1 { font-size: @fntBaseSize * 2; text-transform: uppercase; }
  h2 { font-size: @fntBaseSize * 1.5; margin-top: -5px; }
}

main>section {
  width: 100%;
}


#grid {
  flex: 1 1;
  display: flex; flex-direction: column; justify-content: flex-start; align-content: stretch;
  visibility: hidden; // Will be removed from code, once tiles sizes are fixed
  .row {
    width: 100%; display: flex; justify-content: center; align-content: stretch;
    height: 16.6%; max-height: @fntBaseSize * 3;
    padding: 4px; // Will be set from code
  }
  .tile {
    height: 100%;
    border: 1pt solid var(--frameUnfilled);
    text-transform: uppercase; font-weight: bold; text-align: center;
    padding-top: 3px;
    margin: 4px; // Will be set from code
    font-size: 1px; // Will be set from code
    overflow: hidden;
    span { display: block; height: 0; overflow: visible; }

    &.filled { border-color: var(--frameStrong); }
    &.miss, &.hit, &.near { transition: background-color 800ms ease-out; }
    &.miss { background-color: var(--missColor); border-color: var(--missColor); color: var(--gridLetterColor); }
    &.hit { background-color: var(--hitColor); border-color: var(--hitColor); color: var(--gridLetterColor); }
    &.near { background-color: var(--nearColor); border-color: var(--nearColor); color: var(--gridLetterColor); }
  }
}

#spacer { height: 5px; flex: 0 0; }

#keyboard {
  font-size: @fntBaseSize;
  flex: 0 0;

  .row {
    width: 100%; display: flex; flex-wrap: nowrap; align-content: stretch;
    height: 50.5px;
  }
  .spacer { font-size: 0.1px; flex-grow: 1; }
  .key {
    flex-grow: 0;
    padding: 0.5em 0.3em; border-radius: 4px; margin: 0 4px 8px 4px;
    width: 8vw; max-width: 2em;
    &.enter, &.back { width: 12vw; max-width: 4em; }
    &.enter { font-size: 0.7em; padding-top: 1.1em; }

    cursor: default; user-select: none;
    text-align: center; font-weight: bold; text-transform: uppercase;
    background-color: var(--keyColor); transition: background-color 300ms ease-out;
    &:hover { background-color: var(--keyColorHover); }
    &.miss { background-color: var(--missColor); color: var(--textColor); }
    &.miss:hover { background-color: var(--missColorHover); }
    &.hit { background-color: var(--hitColor); color: var(--textColor); }
    &.hit:hover { background-color: var(--hitColorHover); }
    &.near { background-color: var(--nearColor); color: var(--textColor); }
    &.near:hover { background-color: var(--nearColorHover); }
    &.pressed, &.pressed:hover { background-color: var(--missColorHover); transition: none; }
  }
}

// Touchscreen key behavior
@media (hover: none) and (pointer: coarse) {
  #keyboard .key {
    &:hover { background-color: var(--keyColor); }
    &.miss:hover { background-color: var(--missColor); }
    &.hit:hover { background-color: var(--hitColor); }
    &.near:hover { background-color: var(--nearColor); }
  }
}

// Small screen (mobile) layout
@media screen and (max-width: 450px) {

  main header {
    height: 57px; padding-top: 3px;
    h1 { font-size: @fntBaseSize * 1.3; }
    h2 { font-size: @fntBaseSize * 0.9; margin-top: 0; }
  }

  #keyboard {
    .key {
      margin: 1.5px; padding: 0.7em 0.5em;
      font-size: calc(10px + 2vw); width: 9vw;
      &.enter { width: 5em; max-width: none; font-size: calc(4px + 2vw); }
    }
    .key.enter { padding-top: 1.5em; }
  }
}

// Very small screen layout
@media screen and (max-width: 350px) {
  main header {
    #showInfo { right: 8px; top: 12px; }
    #showStatus { left: 8px; top: 12px; }
    #showSettings { right: 38px; top: 12px; }
  }
}

aside {
  z-index: 3;
  position: absolute; top: 130px; left: 50%; margin-left: -40%; width: 80%;
   background-color: var(--toastBgColor); color: var(--toastTextColor);
  text-align: center; white-space: pre-wrap;
  padding: 10px 10px; border-radius: 8px;
  display: none; &.visible { display: block; }
}

button {
  -webkit-appearance: none; -moz-appearance: none;
  border: none; background: none; font-family: sans-serif; font-size: inherit; color: inherit;
  padding: 0; margin: 0;
}

a { text-decoration: none; }

hr { border: none; height: 1px; background-color: var(--frameLight); }

article {
  display: none; &.visible { display: block; }
  position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;
  overflow-y: auto; padding: 30px 20px 30px 20px;
}

article>section {
  display: none; &.visible { display: block; }
  max-width: 470px; margin: 0 auto;
  box-shadow: 0px 0px 10px darken(@clrLightGrey, 10%);
  .dark & { box-shadow: none; }
  border-radius: 5px; position: relative; background-color: var(--popupBgColor); padding: 10px 15px;
  button.close {
    display: block; position: absolute; right: 16px; top: 8px;
    cursor: pointer; color: var(--frameStrong); font-weight: bold; font-size: @fntBaseSize;
  }
  h2 {
    font-size: @fntBaseSize; font-weight: bold; text-transform: uppercase; text-align: left;
  }
  h3 {
    font-size: @fntBaseSize * 0.8; font-weight: bold; margin: 0 0 5px 0;
  }
  font-size: @fntBaseSize * 0.8;
  span.letter {
    display: inline-block; margin-right: 4px; padding-top: 3px; border: 1pt solid var(--frameStrong);
    width: 28px; height: 28px; text-align: center; font-weight: bold;
    //background-color: var(--bgColor);
    &.miss { background-color: var(--missColor); color: var(--textColor); }
    &.hit { background-color: var(--hitColor); color: var(--textColor); }
    &.near { background-color: var(--nearColor); color: var(--textColor); }
  }
  span.right { display: inline-block; float: right; }
}

#settingsPopup {
  div.setting { margin: 20px 0; }

  h3 { position: relative; }
  .darkLightSelector {
    position: absolute; right: 0; top: -3px; height: 22px; width: 44px;
    background-color: black; border: 1px black; border-radius: 22px;
    cursor: pointer; user-select: none;
    span, img { display: block; position: absolute; top: 1px; }
    img { width: 16px; height: 16px; }
    .thumb {
      width: 20px; height: 20px; background-color: white; border-radius: 20px;
      transition: left .5s cubic-bezier(.23,1,.32,1) 0ms;
    }
    .moon { left: 3px; top: 2px; }
    .sun { right: 4px; top: 3px; }
    &.lightMode .thumb { left: 1px; }
    &.darkMode .thumb { left: 23px; }
  }

  p.settingNote { margin: 0 0 10px 0; font-style: italic; }
  label { display: block; margin-bottom: 4px; }
  input[type="radio"] { display: none; }
  input[type="radio"] + *::before {
    content: ""; display: inline-block; vertical-align: bottom;
    width: 0.9rem; height: 0.9rem; margin-right: 0.3rem; border-radius: 50%;
    border: 1pt solid currentColor; transform: translateY(-0.15rem);
  }
  input[type="radio"]:checked + * { color: currentColor; }
  input[type="radio"]:checked + *::before {
    background: radial-gradient(currentColor 0%, currentColor 40%, transparent 50%, transparent);
  }
  span.green { color: @clrGreen; }
  span.red { color: @clrRed; }
  span.orange { color: @clrOrange; }
  span.blue { color: @clrBlue; }
}

#statusPopup {
  #timeLeft { font-size: @fntBaseSize * 2; }
  #shareGeneral {
    position: relative;
    padding: 10px 0 13px 0; width: 250px; border-radius: 4px;
    background-color: var(--hitColor); color: white; text-align: center;
    &:hover { background-color: var(--hitColorHover); }
    cursor: default; user-select: none;
    font-size: 22px; text-transform: uppercase;
    svg { width: 24px; height: 24px; display: block; position: absolute; right: 12px; top: 12px; }
    svg path { fill: white; }
    #sharePreview {
      width: 35px; height: 100%; position: absolute; left: 12px; top: 0;
      display: flex; flex-direction: column; justify-content: center;
    }
    #sharePreview span {
      display: block; font-size: 4px; white-space: pre-wrap; line-height: 1.5;
      border: 1px solid white; padding: 1px;
    }
  }
}


// HTML to render the image used in og:image (from hungarian version)
// <div id="xx">
//   <p><span>S</span><span>Z</span><span>Ó</span></p>
//   <p><span>R</span><span>E</span><span>G</span><span>G</span><span>E</span><span>L</span><span>T</span></p>
//   <p class="motto">~ napi szófejtő ~</p>
// </div>
// #xx {
//   position: fixed; top: 30; left: 500; width: 800px; height: 420px;
//   background-color: white; z-index: 2;
//   border: 1px solid black;
//
//   padding-top: 90px;
//   p { margin: 0 0 8px 0; padding: 0; width: 100%; text-align: center; }
//   p:first-child  span { background-color: @clrRed; }
//   span {
//     display: inline-block;
//     color: white; background-color: @clrGreen;
//     width: 80px; height: 80px;
//     margin-left: 8px; &:first-child { margin-left: 0; }
//     font-size: 60px; font-weight: bold; line-height: 71px;
//   }
//   p.motto { font-weight: bold; font-size: 44px; color: #555; }
// }
